# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#snapshots
/src/components/Admin/__snapshots__
/src/components/App/__snapshots__
/src/components/About/__snapshots__
/src/components/Home/__snapshots__
/src/components/Signin/__snapshots__
/src/components/Parents/__snapshots__
/src/components/Teachers/__snapshots__
/src/components/Teachers/ClassesComponents/__snapshots__
/src/components/Teachers/ParentsComponents/__snapshots__