/* Styles added by Omar */
.navbar{
    background-color: black !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 800;
    font-size: 18px;
  }
  
  li > a{
    margin-left: 18px;
    margin-right: 18px;
  }
  
  li > a:hover{
    background-color: rgb(17, 66, 201) !important;
    color: white !important;
  }
  
  div > a:hover{
    color: rgb(247, 247, 247) !important;
    background-color: rgb(17, 66, 201) !important;
  }
  
  #signinbtn, #signupbtn{
    cursor:pointer;
  }
  /*  */